<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/farmereg">
  <table width="323" border="1">
    <tr>
      <td width="174">Farmer_Name</td>
      <td width="133"><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td><label>
      Male
      <input name="Male" type="radio" value="radiobutton" />
      Female
      <input name="Female" type="radio" value="radiobutton" />
      </label></td>
    </tr>
    <tr>
      <td>House</td>
      <td><label>
      <input type="text" name="textfield3" />
      </label></td>
    </tr>
    <tr>
      <td>Place_Name</td>
      <td><label>
        <input type="text" name="textfield4" />
      </label></td>
    </tr>
    <tr>
      <td>Address</td>
      <td><label>
        <textarea name="textarea"></textarea>
      </label></td>
    </tr>
    <tr>
      <td>District</td>
      <td><label>
        <select name="select">
          <option>...Select...</option>
          <option>Kasaragod</option>
          <option>Wayanad</option>
          <option>Kozhikode</option>
          <option>Malappuram</option>
          <option>Palakkad</option>
          <option>Thrissur</option>
          <option>Ernakulam</option>
          <option>Idukki</option>
          <option>Kottayam</option>
          <option>Alappuzha</option>
          <option>Pathanamthitta</option>
          <option>Kollam</option>
          <option>Thiruvanathapuram</option>
        </select>
      </label></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><label>
        <input type="text" name="textfield7" />
      </label></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><label>
        <input type="text" name="textfield8" />
      </label></td>
    </tr>
    <tr>
      <td>Panchayath</td>
      <td><label>
      <select name="select2">
	   <option>...Select...</option>
          <option>Azhiyur</option>
          <option>Chorode</option>
          <option>Eramala</option>
          <option>Onchiyam</option>
          <option>Chekkiad</option>
          <option>Edacherry</option>
          <option>Puramery</option>
          <option>Thuneri</option>
          <option>Valayam</option>
          <option>Vanimel</option>
          <option>Kunnummal</option>
          <option>Nadapuram</option>
          <option>Kayakkodi</option>
          <option>Kavilumpara</option>
          <option>Kuttaidy</option>
          <option>Maruthomkara</option>
          <option>Velom</option>
          <option>Narippatta</option>
          <option>Maniyur</option>
          <option>Thikkodi</option>
          <option>Meppayur</option>
          <option>Cheruvannur</option>
          <option>Perambra</option>
          <option>Chakkittappara</option>
          <option>Balusseri</option>
          <option>Naduvannur</option>
          <option>Atholi</option>
          <option>Ulliyeri</option>
          <option>Chemancherry</option>
          <option>Kakkodi</option>
          <option>Narikkuni</option>
      </select>
      </label></td>
    </tr>
    <tr>
      <td>Landmark</td>
      <td><label>
        <input type="text" name="textfield10" />
      </label></td>
    </tr>
    <tr>
      <td>Crop</td>
      <td><label>
        <input type="text" name="textfield11" />
      </label></td>
    </tr>
    <tr>
      <td>Type</td>
      <td><label>
        <input type="text" name="textfield12" />
      </label></td>
    </tr>
    <tr>
      <td>Owner/Rent</td>
      <td><label>
        <input type="text" name="textfield13" />
      </label></td>
    </tr>
    <tr>
      <td>Document</td>
      <td><label>
        <input type="text" name="textfield14" />
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <div align="center"><input type="submit" name="Submit" value="Update" />
        </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
</html>
