<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="fregview">Farmer registration</a></td>
    </tr>
    <tr>
      <td><a href="viewfarmer">View farmer</a></td>
    </tr>
    <tr>
      <td><a href="cropadd">Add crop details</a></td>
    </tr>
	<tr>
      <td><a href="viewcrop">View crop details</a></td>
    </tr>
    <tr>
      <td><a href="fertilizeradd">Add fertiliser details</a></td>
    </tr>
	<tr>
      <td><a href="viewfertiliser">View fertiliser details</a></td>
    </tr>
	<tr>
      <td><a href="pesticideadd">Add pesticide details</a></td>
    </tr>
    <tr>
      <td><a href="viewpesticide">View pesticide details</a></td>
    </tr>
    <tr>
      <td><a href="seedadd">Add seed information</a></td>
    </tr>
    <tr>
      <td><a href="viewseed">View seed information</a></td>
    </tr>
	<tr>
      <td><a href="singlereportadd">Add single report</a></td>
    </tr>
	<tr>
      <td><a href="#">View single report</a></td>
    </tr>
	<tr>
      <td><a href="#">View farmers</a></td>
    </tr>
	<tr>
      <td><a href="#">View Agriculture department report</a></td>
    </tr>
	<tr>
      <td><a href="#">View photos</a></td>
    </tr>
	<tr>
      <td><a href="#">View feedback</a></td>
    </tr>
  </table>
</form>
</body>
</html>
