<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/updatenot">
  <table width="200" border="1">
    <tbody>
      <tr>
        <td scope="col">Title</td>
        <td scope="col"><input type="text" name="textfield" value="{{val[1]}}" id="textfield"></td>
      </tr>
      <tr>
        <td>Date</td>
        <td><input type="date" name="textfield2" value="{{val[2]}}" id="textfield2"></td>
      </tr>
      <tr>
        <td>Disease</td>
        <td><input type="text" name="textfield3" value="{{val[3]}}" id="textfield3"></td>
      </tr>
      <tr>
        <td>Place</td>
        <td><input type="text" name="textfield4" value="{{val[4]}}" id="textfield4"></td>
      </tr>
      <tr>
        <td>Plant</td>
        <td><input type="text" name="textfield5" value="{{val[5]}}" id="textfield5"></td>
      </tr>
      <tr>
        <td>Symptoms</td>
        <td><input type="text" name="textfield6" value="{{val[6]}}" id="textfield6"></td>
      </tr>
      <tr>
        <td colspan="2"><div align="center"><input type="submit" name="submit" id="submit" value="edit"></div></td>
      </tr>
    </tbody>
  </table>
</form>
</body>
</html>
