<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="930" height="195" border="1">
    <tr>
      <td colspan="15">Farmer_id:
        <label>
        <input type="text" name="textfield" />
        <br />
        Farmer_Name:
        <input type="text" name="textfield2" />
      Panchayath:
      <input type="text" name="textfield3" />
      <input type="submit" name="Submit" value="Search" />
      </label></td>
    </tr>
    <tr>
      <td width="84">Farmer_name</td>
      <td width="45">Gender</td>
      <td width="39">House</td>
      <td width="73">Place_name</td>
      <td width="51">Address</td>
      <td width="43">District</td>
      <td width="38">Phone</td>
      <td width="33">Email</td>
      <td width="109">Panchayath/Block</td>
      <td width="62">Landmark</td>
      <td width="32">Crop</td>
      <td width="31">Type</td>
      <td width="74">Owner/Rent</td>
      <td width="62">Document</td>
      <td width="60">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><p><a href="#">Edit</a></p>
      <p><a href="#">Save</a></p></td>
    </tr>
  </table>
</form>
</body>
</html>
